@CHARSET "UTF-8";

#container{
	padding:0 1.5em;
	box-sizing: border-box;
	
}
#top{
	width:;
	height: 20px;
	background-color:#000000;
	box-sizing: border-box;
	margin:5px;
	
}
#purplegreenred{
	width:;
	height: 200px;
	box-sizing: border-box;
	margin:5px;
	
}

.row{
	float:left;
}

#purple{
	width:18%;
	height: 200px;
	margin: 0px 3px 0px 0px;
`	box-sizing: border-box;
	background-color:#730099;	

}

#green{
	width:62%;
	height: 200px;
	margin: 0px 5px 0px 5px;;
`	box-sizing: border-box;
	background-color:#009900;
}

#red{
	width:18%;
	height: 200px;
	margin: 0px 0px 0px 3px;
`	box-sizing: border-box;
	background-color:#ff0000;	
}
#lightblue{
	width:;
	height: 20px;
	background-color:#0039e6;
	box-sizing: border-box;
	margin:5px;
	
}
	
	
	

